.header {
    background-color: darkcyan;
    color: rgba(191, 11, 191, 100);
    text-align: center;
}
.main {
    background-color: lightgrey;
}

.body {
    background-image: url("./record.png");
    background-repeat: repeat;
    margin: 0;
    padding: 1em;
}